<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
 	<%#@users.each do |user| %>  
	<%#= render 'user' %>
	<%# end %> 
	<!-- In place of the loop you can use @users and Rails will automatically iterate through the list of all Users -->
	<%= render @users %>

</ul>

<%= will_paginate %>