<% provide(:title, "Help")%>

<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:title)%> | Ruby on Rails Tutorial Sample App </title>
	</head>
		<body>
				<h1>Help</h1>

				<h3>This is the 'Help' Page of the project</h3>

				<p>
				Beep Bop Boop <a href="http://www.google.com"><em>Make your wildest dreams come true</em></a>
				</p>
		</body>
</html>
